[submodule "1_common/.emacs.d"]
	path = 1_common/.emacs.d
	url = https://github.com/Gagcrab/suzmacs.git
[submodule "1_common/.vim_runtime"]
	path = 1_common/.vim_runtime
	url = https://github.com/Gagcrab/vimrc.git
